<section>
    <div class="row">
        <div class="3u uniform">
            <span class="image fit">
                <img src="/images/profile-pic.png">
            </span>
        </div>
        <div class="9u uniform">
            <h1 class="custom">Welcome</h1>
            <p>Hi! My name is <strong>Lila-Joyce Jomok </strong>(or Lila for short). I'm a data analyst currently residing in Southern California. I mostly work in <a href="https://www.r-project.org/">R</a> and <a href="https://www.sas.com/en_us/home.html">SAS</a> with a focus on building statistical models.</p>

            {% include interests.html %}
        </div>
    </div>
</section>
