<footer id="footer">
    <div class="inner">
        <section>
            <h2>Get in touch</h2>
            <form method="post" action="#">
                <div class="field half first">
                    <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field half">
                    <input type="email" name="email" id="email" placeholder="Email" />
                </div>
                <div class="field">
                    <textarea name="message" id="message" placeholder="Message"></textarea>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send" class="special" /></li>
                </ul>
            </form>
        </section>
        <section>
            {% include socialMedia.html %}
        </section>
        <ul class="copyright">
            <li>&copy; {{ site.time | date: '%Y' }} {{ site.copyright }} All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>