<header id="header">
    <div class="inner">
        <!-- Logo -->
            <a href="{{ site.baseurl }}/" class="logo">
                {% if site.logo_url %}
                <span class="symbol"><img src="{{ site.logo_url}}" alt="" /></span>
                {% endif %}
                <span class="title">{{ site.title }}</span>
            </a>

        <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>
    </div>
</header>