<!-- OGP Meta -->
<meta name="author" content="{{ site.author }}" />
<meta property="og:title"
    content="{% if page.title %}
      {{ page.title | strip_html | strip_newlines | truncate: 160 }}
    {% else %}
      {{ site.title }}
    {% endif %}">
<meta property="og:description"
    content="{% if page.excerpt %}
        {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
      {% else %}
        {{ site.description }}
      {% endif %}">
<meta property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.general.image}}{% endif %}">

<!-- Twitter Card -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter }}">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description"
    content="{{ page.meta_description }}">
{% else %}
  <meta name="twitter:description"
    content="{{ page.content | strip_html | xml_escape
      | truncate: 200 }}">
{% endif %}
{% if page.image %}
  <meta name="twitter:image:src" content="{{ site.baseurl }}/{{ page.image }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.baseurl }}/images/profile-pic.png">
{% endif %}
{% if page.image.thumb %}
  <meta name="twitter:image"
    content="{{ site.urlimg }}/{{ page.image.thumb }}">
{% else %}
  <meta name="twitter:image"
    content="{{ site.baseurl }}/images/profile-pic.png">
{% endif %}