<!--Main Navigation-->
<header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark grey darken-4 scrolling-navbar">
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="/">
                <img src="/images/navbar-brand-yellow.png" alt="{{ site.title }}" height="35">
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    
                    {% assign links = site.data.nav %}
                    {% for link in links %}
                        {% assign class = nil %}
                        {% if page.url contains link.url %}
                            {% assign class = 'active' %}
                        {% endif %}
                        {% if link.sublinks %}
                            <li class="nav-item dropdown">
                                <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle w-100" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="navbarDropdownMenuLink" aria-labelledby="navbarDropdownMenuLink">
                                    {{ link.title }} 
                                </a>
                                <ul class="dropdown-menu ml-2 rounded-0 grey darken-4 border-0 z-depth-1">
                                    {% for sublink in link.sublinks %}
                                    <li class="dropdown-item p-0">
                                        <a class="text-white w-100" href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.page }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="https://github.com/{{ site.gh }}" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/{{ site.twitter }}" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>
    <!-- Navbar -->

</header>
<!--Main Navigation-->