<nav id="menu">
     <h2>{{ site.data.nav.menu_title}}</h2>
     <ul>
        <!-- {% assign mypages = site.pages | sort: "order" %}
        {% for page in mypages %}
        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
        {% endfor %} -->

        {% for item in site.data.nav.links %}
            <li><a href="{{ item.url | absolute_url }}" alt="{{ item.title }}">{{ item.title }}</a>
                {% if item.subfolderitems[0] %}
                <ul>
                    {% for entry in item.subfolderitems %}
                    <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            
        {% endfor %}
    </ul>
</nav>
    

{% for entry in item.subfolderitems %}
    <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
{% endfor %}