<!-- Social icons -->
<div class="pb-4">
    {% if site.facebook_url %}                    
        <a href="{{ site.facebook_url }}" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>
    {% endif %}
    {% if site.linkedin %}                    
        <a href="https://linkedin.com/in/{{ site.linkedin}}" target="_blank">
            <i class="fab fa-linkedin mr-3"></i>
        </a>
    {% endif %}
    {% if site.twitter %}
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>
    {% endif %}
    {% if site.youtube_url %}
        <a href="{{ site.youtube_url }}" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>
    {% endif %}
    {% if site.dribble %}
        <a href="http://dribble.com/{{ site.dribble}}" target="_blank">
            <i class="fab fa-dribbble mr-3"></i>
        </a>
    {% endif %}
    {% if site.pinterest %}
        <a href="https://pinterest.com/{{ site.pinterest }}" target="_blank">
            <i class="fab fa-pinterest mr-3"></i>
        </a>
    {% endif %}
    {% if site.gh %}
        <a href="https://github.com/{{ site.gh }}" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>
    {% endif %}
    {% if site.email %}
        <a href="mailto:{{ site.email }}">
            <i class="fas fa-envelope"></i>
        </a>
    {% endif %}
</div>
<!-- Social icons -->