@import "monokai.css";
/* @import "fruity.css"; */


#post-container {
    max-width: 768px;
}

#post-header h1,h2,h3,h4,h5,h6 {
    line-height: 2.0;
    font-weight: 900;
}

#post-body {
    font-size: 20px;
    line-height: 2.0;
    text-align: left;
    margin-bottom: 25px;
}

#post-body a {
    color: #4a148c;
    font-weight: 500;
}

#post-body a:hover {
    text-decoration: underline;
    text-decoration-color: #4a148c;
}

#post-body h1,h2,h3,h4,h5,h6 {
    line-height: 2.0;
    font-weight: 500;
}

#post-tags {
    font-size: 20px;
}