<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

<body>
	<!-- Header -->
	{% include header.html %}

	<!-- Menu -->
	{% include nav.html %}

	<!-- Main -->
	{% include main.html %}

	<!-- Footer -->
	{% include footer.html %}

	<!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
		
	<!-- Disqus Comment count -->
	<script id="dsq-count-scr" src="https://" + {{ site.disqus.shortname }} + "disqus.com/count.js" async></script>

	<!-- Google Analytics ID -->
	{% if site.google_analytics_ID %}
		{% include googleAnalytics.html %}
	{% endif %}

</body>

</html>