---
layout: default
---

<!--Section: Jumbotron-->
{% if page.image %}
<section class="jumbotron card night-fade-gradient wow fadeIn" id="intro" style="background-image: url('{{ page.img }}');">
{% else %}
<section class="jumbotron card night-fade-gradient wow fadeIn" id="intro">
{% endif %}
    <!-- Content -->
    <div class="card-body text-white text-center py-5 px-5 my-5">

        <h1 class="display-4 mb-4">
            <strong>{{ page.title }}</strong>
        </h1>
    </div>
    <!-- Content -->
</section>
<br>

<p>
    {{ content }}
</p>