---
layout: default
comments: true
---

{% if page.image %}
<section class="card card-image night-fade-gradient wow fadeIn" id="intro" style="background-image: url('{{ page.image }}');">
{% else %}
<section class="jumbotron card night-fade-gradient wow fadeIn" id="intro">
{% endif %}
    <!-- Content -->
    <div class="rgba-black-strong py-5 px-4">
        <div class="card-body text-white text-center py-5 px-5 my-5">

            <h1 class="display-4 mb-4">
                <strong>{{ page.title }}</strong>
            </h1>
            <p class="mx-5 mb-5">
                {{ page.date | date: '%-B %-d, %Y'}}
                {% if page.categories.size > 0%}&middot; {% endif %}
                {% for tag in page.tags %}
                    <a class="badge badge-pill badge-dark" href="{{ site.baseurl }}/blog/tag#{{tag}}">{{ tag }}</a>
                    {% unless forloop.last %} {% endunless %}  
                {% endfor %}
                {% if page.comments %}&middot; <a class="badge badge-pill badge-light" href="{{ page.url }}#disqus_thread">Comments</a> {% endif %}
            </p>
        </div>
    </div>
    <!-- Content -->
</section>
<br>
{{ content }}
<hr class="my-5">
<!-- Comments -->
{% if page.comments %}
    {% include disqus.html %}
{% endif %}


<!-- <section>
    <ul class="actions fit">
        {% if page.previous.url %}
           <li> <a href="{{ page.previous.url }}" class="button fit small">&laquo; Previous: {{ page.previous.title }}</a></li>
        {% endif %}
        {% if page.next.url %}
           <li> <a href="{{ page.next.url }}" class="button fit small">Next: {{ page.next.title }} &raquo;</a></li>
        {% endif %}
    </ul>
</section> -->

<!-- {% for category in page.categories %}
    <a href="{{ site.baseurl }}/blog/category/#{{category}}">{{ category }}</a>
    {% unless forloop.last %},{% endunless %}  
{% endfor %} -->