---
layout: default
comments: true
---

<div class="container pb-5" id="post-container">
    <section id="post-header">
        <!-- Title and Info -->
        <h1 class="mb-4">
            <strong>{{ page.title }}</strong>
        </h1>
        <p class="pt-0">
            {{ page.date | date: '%-B %-d, %Y'}}
        </p>

        {% if page.image %}
        <!-- Image -->
        <img src="{{ page.image }}" class="img-fluid">
        {% endif %}
    </section>
    
    <br>

    <section id="post-body">
        {{ content }}
    </section>
    
    {% if page.comments or page.tags %}
    <hr>
    {% endif %}
    <section id="post-tags">
        <!-- Tags -->
        {% for tag in page.tags %}
        <a class="badge badge-light z-depth-0 p-2 m-1" href="{{ site.baseurl }}/blog/tag#{{tag}}">{{ tag }}</a>
        {% unless forloop.last %} {% endunless %}  
        {% endfor %}

        <!-- Prev/Next Post -->
<!--         <ul class="actions fit">
            {% if page.previous.url %}
                <li> <a href="{{ page.previous.url }}" class="button fit small">&laquo; Previous: {{ page.previous.title }}</a></li>
            {% endif %}
            {% if page.next.url %}
                <li> <a href="{{ page.next.url }}" class="button fit small">Next: {{ page.next.title }} &raquo;</a></li>
            {% endif %}
        </ul>
        
        {% for category in page.categories %}
            <a href="{{ site.baseurl }}/blog/category/#{{category}}">{{ category }}</a>
            {% unless forloop.last %},{% endunless %}  
        {% endfor %} -->
    </section>

    <!-- Comments -->
    {% if page.comments %}
        {% include disqus.html %}
    {% endif %}
</div>