---
layout: default
comments: true
---

<header>
    <strong class="post-title">{{ page.title }}</strong>
    <h4 class="post-list">
        {{ page.date | date: '%-B %-d, %Y'}}
        {% if page.categories.size > 0%}&middot; {% endif %}
        {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/blog/tag/#{{tag}}">{{ tag }}</a>
            {% unless forloop.last %},{% endunless %}  
        {% endfor %}
    </h4>
</header>
{% if page.image %}
<span class="image fit">
    <img src="{{ page.image }}" alt="{{ page.title }}" title="{{ page.title }}">
</span>
{% endif%}
{{ content }}

<!-- Comments -->
{% if page.comments %}
    <h2>Comments</h2>
    {% include disqus.html %}
{% endif %}


<!-- <section>
    <ul class="actions fit">
        {% if page.previous.url %}
           <li> <a href="{{ page.previous.url }}" class="button fit small">&laquo; Previous: {{ page.previous.title }}</a></li>
        {% endif %}
        {% if page.next.url %}
           <li> <a href="{{ page.next.url }}" class="button fit small">Next: {{ page.next.title }} &raquo;</a></li>
        {% endif %}
    </ul>
</section> -->

<!-- {% for category in page.categories %}
    <a href="{{ site.baseurl }}/blog/category/#{{category}}">{{ category }}</a>
    {% unless forloop.last %},{% endunless %}  
{% endfor %} -->